In [9]:
import pandas as pd
import pymongo
df=pd.read_csv('Churn.csv')
df.head()

,Unnamed: 0,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,CustomerFeedback,Churn
0,0,Female,0,Yes,No,-1.644343,No,No phone service,DSL,No,...,No,No,No,Month-to-month,Yes,Electronic check,-1.158541,-1.811104,I have been using the DSL internet service fro...,No
1,1,Male,0,No,No,0.297205,Yes,No,DSL,Yes,...,No,No,No,One year,No,Mailed check,-0.239492,0.254277,I have been a customer with this company for o...,No
2,2,Male,0,No,No,-1.495444,Yes,No,DSL,Yes,...,No,No,No,Month-to-month,Yes,Mailed check,-0.342665,-1.387090,I recently signed up for DSL internet service ...,Yes
3,3,Male,0,No,No,0.646327,No,No phone service,DSL,Yes,...,Yes,No,No,One year,No,Bank transfer (automatic),-0.731079,0.233221,I have been a loyal customer with this company...,No
4,4,Female,0,No,No,-1.495444,Yes,No,Fiber optic,No,...,No,No,No,Month-to-month,Yes,Electronic check,0.213545,-1.249770,I recently switched to this fiber optic intern...,Yes

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        7043 non-null   int64
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   float64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   float64
 20  CustomerFeedback  7043 non-null   object
 21  Churn             7043 non-null   object
dtypes: float64(3), int64(2), object(17)
memory usage: 1.2+ MB

In [11]:
df.drop('Unnamed: 0', axis=1, inplace=True)

# 1. Converting into Dictionary

In [12]:
##converting df into the dictionary because mongodb won't explicitly store csv
churn_dict=df.to_dict(orient='records')

## 2. Initialize the connection string of mongodb to insert the data

In [13]:
## establish the connection and database name
DB_NAME='Churndb'
COLLECTION_NAME='churn'
CONNECTION_URL='mongodb+srv://sarojrailive:HzTmx6z9UYFIJVMC@cluster0.hl4mafd.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'

## 3. Initialize the mongodb client with above credentials

In [14]:
##Mongodb client
import certifi

Client=pymongo.MongoClient(CONNECTION_URL) #Client always takes connection string
Database=Client[DB_NAME]
Collection=Database[COLLECTION_NAME]

## 4. Insert the data into Mongodb database

In [15]:
##inserting data into collection
collection_records=Collection.insert_many(churn_dict)
print('Records inserted succesfully',len(collection_records.inserted_ids))

Records inserted succesfully 7043

## Test: Delete_many()

In [16]:
#Database[COLLECTION_NAME].delete_many({})